<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>
    
    <header>WTF!!!! Error occured... aport mission aport mission.... <br> tell my wife i that ... <br> <strong>HATE HER!!</strong></header>

    <%= message %>
</body>
</html>