<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    
    <link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="public/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="public/styles/base.css">
    <!-- <link rel="stylesheet" type="text/css" href="/public/styles/modules.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header id="error">ERROR!</header>
<body>
<p> ERROR!! ERROR!! APORT MISSION!! APORT MISSION!! <br> tell my wife that i... <br> HATE HER!!</p>    

    <!-- <%= message %> -->
</body>
</html>