<!DOCTYPE html>
<html lang="en">
<head>
    <title>TesT 101</title>

    <!-- <link rel="stylesheet" href="/public/styles/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="public/styles/base.css">
    <link rel="stylesheet" type="text/css" href="public/styles/layout.css">
</head>
<body>

    <h1 > Heloooooo there !</h1>
    
</body>
</html>