<!DOCTYPE html>
<html lang="en">
<head>
    <title>TesT 101</title>

    <!-- <link rel="stylesheet" href="/public/styles/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="public/styles/base.css">
    <link rel="stylesheet" type="text/css" href="public/styles/layout.css">
</head>
<body>

    <h1 > Heloooooo there !</h1>

    <form action="/">
        <p> search by Title or Author </p>
        
        <input type="text" placeholder="Enter a title or Author">
        <br>
        
        <input id="title" type="radio" name="title">
        <label for="title"> Title </label>
        <br>
        <input id="author" type="radio" name="title">
        <label for="title"> Author </label>


        </form>
    
</body>
</html>