<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Book App</title>

<link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
<link rel="stylesheet" type="text/css" href="public/styles/layout.css">
<link rel="stylesheet" type="text/css" href="public/styles/base.css">
<!-- <link rel="stylesheet" type="text/css" href="/public/styles/modules.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">